<div id="pepe" class="mb-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-content-center mt-5 mapas">

            <div class="col-md-3">
                <h2 class="text-start text-white pb-lg-5 ">Pacifico</h2>
                <a routerLink="/pacificoslide" href="#">
                    <img src="/assets/img/mapas-guias/pacifico.png" alt="Image 1" class="img-fluid">
                </a>
            </div>
            <div class="col-md-3">
                <h2 class="text-start text-white pb-lg-5 ">Atlantico</h2>
                <a routerLink="/atlanticoslide" href="#">
                    <img src="/assets/img/mapas-guias/atlantico.png" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-3">
                <h2 class="text-start text-white pb-lg-5 ">Andina</h2>
                <a routerLink="/andinaslide" href="#">
                    <img src="/assets/img/mapas-guias/andina.png" alt="Image 3" class="img-fluid">
                </a>
            </div>
            <div class="col-md-3">
                <h2 class="text-start text-white pb-lg-5 ">Amazonia</h2>
                <a routerLink="/amzoniaslide" href="#">
                    <img src="/assets/img/mapas-guias/amazonia1.png" alt="Image 4" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>
