
<main>
    <section id="hero" class="container d-flex flex-column justify-content-center align-items-center">
        <div class="row hero-container" data-aos="fade-in">
            <div class=" col-md-8">
                <div class="d-flex justify-content-around align-items-center flex-column" >
                    <h1 >Descubre Colombia: Tu Aventura Espera</h1>
                    <h2>Embárcate en un viaje inolvidable a través de Colombia</h2>
                    <p>Descubre la magia de sus paisajes, la riqueza de su cultura y la calidez de su gente.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="call-to-action">
        <h2>¡Comienza tu aventura ya!</h2>
        <p>Planifica tu viaje, reserva tu alojamiento y descubre las experiencias que te esperan en Colombia.</p>
    </section>
</main>