<p>navbar works!</p>
<nav class="navbar navbar-expand-lg opacity-75">
    <div class="container-fluid d-flex justify-content-around">
        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Destinos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Pacifico</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Nariño</a></li>
                                <li><a class="dropdown-item" href="#">Valle del Cauca</a></li>
                                <li><a class="dropdown-item" href="#">Choco</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Atlantico</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Bolivar</a></li>
                                <li><a class="dropdown-item" href="#">Magdalena</a></li>
                                <li><a class="dropdown-item" href="#">Atlantico</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Amazonia</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Amazonas</a></li>
                                <li><a class="dropdown-item" href="#">Caqueta</a></li>
                                <li><a class="dropdown-item" href="#">Putumayo</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Andina</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Antioquia</a></li>
                                <li><a class="dropdown-item" href="#">Boyaca</a></li>
                                <li><a class="dropdown-item" href="#">Cundinamarca</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div>
            <a href="/assets/secciones/planifica.html" class="nav-link bot">Planifica tu viaje</a>
        </div>

        <div>
            <a href="/mockup/index.html">
                <img src="../assets/img/TOURWALK2.png" class="icon" alt="">
            </a>
        </div>

        <div>
            <a href="/assets/secciones/descuentos.html" class="nav-link bot">Descuentos</a>
        </div>

        <div>
            <a href="/assets/secciones/guias.html" class="nav-link bot">Guias</a>
        </div>

        <div class="d-flex justify-content-center align-items-center profile">
            <div class="social-links logo-red">
                <img src="../assets/icons/facebook1.png" alt="">
                <img src="../assets/icons/instagram1.png" alt="">
            </div>
            <div class="btn">
                <img src="../assets/icons/buscar1.png" alt="">
            </div>
        </div>
    </div>
</nav>
