<section class="slider-main">
    <div class="container">
      <div class="slider-content-wrap">
        <div class="slider-content" style="text-align: left;">
          <h2 class="heading-style-2">La aventura te espera en el Pacifico Colombiano</h2>
          <p class="text-style-2">El Pacífico es eso que nadie conoce y que no te puedes perder la oportunidad
            de descubrir. Es un viaje a la joya más pura de Colombia, oculta y olvidada.
  
            Conoce tambien las maravillas del Cauca, un departamento con cumbres montañosas, volcanes y una
            cultura ancestral llena de historia.</p>
          <div class="social-icons">
            <a href=""><img src="../icons/facebook1.png" alt="facebook" class="wht0"></a>
            <a href=""><img src="../icons/instagram1.png" alt="instagram" class="wht0"></a>
            <a href=""><img src="../icons/whatsapp1.png" alt="whatsapp" class="wht1"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img class="slider-image" src="../img/imgPacifico/PACIFICO0.jpg" alt="pacifico1"></div>
        <div class="swiper-slide"><img class="slider-image" src="../img/imgPacifico/PARQUE NATURAL PACIFICO.jpg" alt="pacifico1"></div>
        <div class="swiper-slide"><img class="slider-image" src="../img/imgPacifico/PARQUE NATURAL PACIFICO1.jpg" alt="pacifico1"></div>
        <div class="swiper-slide"><img class="slider-image" src="../img/imgPacifico/playa1.jpg" alt="pacifico1"></div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
  