<div class="custom-form" id="pepe">
    <section class="fondo contenedor container">

        <div class="d-flex justify-content-center align-items-center p-3 rounded-2">
            <div class="contenedor2  w-50 d-flex flex-column
            justify-content-center align-items-center ">

                <p class="frase m-auto d-flex justify-content-center pt-3 "> Nuestro equipo se pondra
                    en
                </p>
                <p class="frase d-flex justify-content-center fw-bold "> contacto contigo!!!</p>

                <div class="mb-3 ">
                    <label for="formGroupExampleInput" class="nombre form-label fw-bold mb-0 ">Nombre</label>
                    <input type="text" class="formulario form-control " id="formGroupExampleInput" placeholder="Nombre">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="nombre form-label fw-bold mb-0">Correo
                        Electronico</label>
                    <input type="text" class="formulario form-control" id="formGroupExampleInput2"
                        placeholder="Tu correo electronico">
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="nombre form-label fw-bold mb-0 ">Pais</label>
                    <input type="text" class="formulario form-control " id="formGroupExampleInput"
                        placeholder="A donde te gustaria viajar">
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="nombre form-label fw-bold mb-0">Telefono</label>
                    <input type="text" class="formulario form-control" id="formGroupExampleInput2"
                        placeholder="3195284474">
                </div>

                <div class="comentario form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comentario</label>
                </div>

                <button class="boton btn btn-secondary me-md-2 m-3 " type="button">Inicio sesion</button>

            </div>
        </div>
    </section>