.custom-form {
  min-width: 800px;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.15);
  margin: auto;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #646161, -13px -13px 20px #646161;
  color: black;
  margin-top: 2rem;
}



.custom-form input {
  display: block;
  width: 300px;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}

.custom-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #365076;
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #646161, -3px -3px 8px #646161;
  cursor: pointer;
}

.comentario{
    height: 100px;
    width: 620px;
}