<div class="custom-form mb-5" id="pepe">
    <section class="fondo contenedor container">

        <form [formGroup]="fromContacto" (ngSubmit)="solicitarContacto()">
            <div class="d-flex justify-content-center align-items-center p-3 rounded-2">
                <div class="contenedor2  w-50 d-flex flex-column
            justify-content-center align-items-center ">

                    <p class="frase m-auto d-flex justify-content-center pt-3 "> Nuestro equipo se pondra
                        en
                    </p>
                    <p class="frase d-flex justify-content-center fw-bold "> contacto contigo!!!</p>

                    <div class="mb-3 ">
                        <label for="formGroupExampleInput" class="nombre form-label fw-bold mb-0 ">Nombre</label>
                        <input type="text" class="formulario form-control " id="" placeholder="Nombre"
                            formControlName="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="nombre form-label fw-bold mb-0">Correo
                            Electronico</label>
                        <input type="text" class="formulario form-control" id="" placeholder="Tu correo electronico"
                            formControlName="correoElectronico">
                    </div>


                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="nombre form-label fw-bold mb-0 ">Pais</label>
                        <input type="text" class="formulario form-control " id=""
                            placeholder="A donde te gustaria viajar" formControlName="pais">
                    </div>

                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="nombre form-label fw-bold mb-0">Telefono</label>
                        <input type="text" class="formulario form-control" id="" placeholder="3195284474"
                            formControlName="telefono">
                    </div>

                    <div class="comentario form-floating">
                        <textarea class="form-control" placeholder="Leave a
                        comment here" id="txt-mensaje" name="txt-mensaje" style="height: 100px"
                            formControlName="comentario"></textarea>
                        <label for="floatingTextarea2">Comentario</label>
                    </div>

                    <button class="boton btn btn-secondary me-md-2 m-3 " type="submit">Inicio sesion</button>

                </div>
            </div>
        </form>
    </section>
</div>