<p>home works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card-body slogan d-flex d-flex justify-content-around align-items-center flex-column">
                <p class="card-text">¡Deja que tu curiosidad sea tu guía! Descubre destinos y haz realidad tus sueños de viajar</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="targ-logi card-body d-flex d-flex justify-content-center align-items-center flex-column">
                <h5 class="card-title title-card">Bienvenido</h5>
                <p class="card-text parrafo-card">Inicia sesión o regístrate para continuar.</p>
                <div class="d-flex justify-content-center botones">
                    <a href="/assets/secciones/inicio.html" class="btn btn-primary p-2 me-3">Iniciar sesión</a>
                    <a href="/assets/secciones/registrarse.html" class="btn btn-secondary p-2">Registrarse</a>
                </div>
            </div>
        </div>
    </div>
</div>
