<div id="pepe">
    <div class="main-box">

        <section class="mt-4">
            <div class="d-flex align-content-center justify-content-center mensj">
                Planifica el viaje a tu gusto y descubre los diferentes destinos de Colombia que tenemos para ti.
                <br>
                Encontrarás diferentes ciudades, pueblos y sitios rodeados de naturaleza.
            </div>
        </section>
        <div class="container letra pb-5 pt-2">
            <div class="botones bg-white d-flex justify-content-center p-2 mt-2 title-titulo">
                <span>
                    PACIFICO
                </span>
            </div>
            <section class="row row-cols-1 row-cols-md-4 g-4 pt-3 card-pict ">
                <div class="col ">
                    <div class="card carta-color h-100">
                        <img src="/assets/img/img-planifica/bahia-solano.jpg" class="card-img-top tarjetas-imagenes"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bahía Solano</h5>
                            <p class="card-text ">Estos lugares son ideales para los amantes de la
                                naturaleza. En
                                Bahía Solano, puedes practicar surf, avistamiento de ballenas y explorar sus playas
                                vírgenes.</p>
                        </div>
                        <div class="card-footer  d-flex justify-content-between">
                            <a class="btn btn-secondary p-2">Ver fechas</a>
                            <a routerLink="/admin/reservas" class="btn btn-primary p-2">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card carta-color h-100 ">
                        <img src="/assets/img/imgPacifico/PARQUE NATURAL PACIFICO.jpg"
                            class="card-img-top tarjetas-imagenes" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nuquí</h5>
                            <p class="card-text ">Esta pintoresca localidad es conocida por sus playas de
                                arena negra, aguas cristalinas y paisajes exuberantes.
                                Es un destino perfecto para relajarse, avistamiento de ballenas y practicar surf.
                            </p>
                        </div>
                        <div class="card-footer  d-flex justify-content-between">
                            <a class="btn btn-secondary p-2">Ver fechas</a>
                            <a routerLink="/admin/reservas" class="btn btn-primary p-2">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 carta-color">
                        <img src="/assets/img/imgPacifico/PARQUE NATURAL PACIFICO1.jpg"
                            class="card-img-top tarjetas-imagenes" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Buenaventura</h5>
                            <p class="card-text ">Este destino ofrece una mezcla única de cultura
                                afrocolombiana y gastronomía del mar.
                                Además, puedes visitar las playas cercanas como Juanchaco y Ladrilleros,
                                donde puedes disfrutar del sol, el mar y la hospitalidad local.</p>
                        </div>
                        <div class="card-footer  d-flex justify-content-between">
                            <a class="btn btn-secondary p-2">Ver fechas</a>
                            <a routerLink="/admin/reservas" class="btn btn-primary p-2">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 carta-color">
                        <img src="/assets/img/imgPacifico/playa1.jpg" class="card-img-top tarjetas-imagenes" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Gorgona</h5>
                            <p class="card-text ">Esta isla, ubicada a unas pocas horas en barco desde
                                Buenaventura,
                                es un paraíso natural con hermosas playas, arrecifes de coral y una rica vida
                                marina.
                                Es un destino ideal para practicar buceo, snorkel, senderismo y avistamiento de
                                aves.</p>
                        </div>
                        <div class="card-footer  d-flex justify-content-between">
                            <a class="btn btn-secondary p-2">Ver fechas</a>
                            <a routerLink="/admin/reservas" class="btn btn-primary p-2">Reservar</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>